.catkin_workspace
.robot_setting
*.0
__pycache__
*.pyc
.vscode
CATKIN_IGNORE
*.swp
# *.txt
*.swo
*~

# fpga
db
export_db
incremental_db
output_files
work
signaltap

*.stp
*.qdf
*.bak
.DS_Store

# ROS2 ignore
build
install
log

# Configs
FIRA.yaml
HSVcolormap.bin
