.catkin_workspace
.robot_ns
*.0
__pycache__
*.pyc
.vscode
.qsys_edit
*.swp

# fpga
db
export_db
incremental_db
output_files
work
sopc
signaltap
obj
*_bsp

*.stp
*.qdf
*.bak
*.qws
*.rpt
*.elf
*.map
*.objdump
Makefile
.cproject
.force_relink
.project
