<launch>
<arg name="sim" default="false" />
<group if="$(arg sim)">
  <node name="mapping" pkg="topic_tools" type="transform"
        args="/motion/cmd_vel /nubot1/nubotcontrol/velcmd nubot_common/VelCmd
              'nubot_common.msg.VelCmd(
               Vx=m.linear.x,
               Vy=m.linear.y,
                w=m.angular.z)' --import nubot_common" />
</group>
<!-- <rosparam command="load" file="$(find strategy)/cfg/game_state.yaml" ns="core" /> -->
<node name="core" pkg="strategy" type="core.py" args="$(arg sim)" output="screen" />
<node name="dynamic_reconfigure_load" pkg="dynamic_reconfigure" type="dynparam" args="load /core $(find strategy)/cfg/game_state.yaml" />
</launch>