<?xml version="1.0" ?>
<launch> 
<group ns="$(env ROBOT_NS)">
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
  <node name="mjpeg_server" pkg="mjpeg_server" type="mjpeg_server"/>
  <include file="$(find pointgrey_camera_driver)/launch/camera.launch" />
  <node name="Attack_motion" pkg="motion" type="fira6"/>
  <include file="$(find strategy)/launch/vision.launch" />
  <include file="$(find strategy)/launch/localization.launch" />
</group>
</launch>
