<?xml version="1.0" ?>
<launch> 
 <rosparam command="load" file="$(find strategy)/cfg/vision_better.yaml"/>
 <!--<param name="FIRA/RobotNumber" value="1"/>-->
 <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
 <node name="mjpeg_server" pkg="mjpeg_server" type="mjpeg_server"/>
 <node name="prosilica_driver" pkg="prosilica_camera" type="prosilica_node" respawn="true" respawn_delay="5" output="screen"/>
 <node name="Attack_motion" pkg="motion" type="Attack_motion_node" output="screen"/>
 <include file="$(find vision)/launch/vision.launch" />
</launch>
