<?xml version="1.0" ?>
<launch> 
 <!--<param name="FIRA/RobotNumber" value="1"/>-->
 <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
 <node name="mjpeg_server" pkg="mjpeg_server" type="mjpeg_server"/>
 <group ns="$(env ROBOT_NS)">
   <rosparam command="load" file="$(find strategy)/cfg/vision_better.yaml"/>
   <node name="prosilica_driver" pkg="prosilica_camera" type="prosilica_node" respawn="true" respawn_delay="5" output="screen"/> 
   <!-- <include file="$(find pointgrey_camera_driver)/launch/camera.launch" /> -->
   <include file="$(find vision)/launch/vision.launch" />
   <node name="Attack_motion" pkg="motion" type="Attack_motion_node"/>
 </group>
</launch>
