<?xml version="1.0" ?>
<launch> 
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
  <node name="mjpeg_server" pkg="mjpeg_server" type="mjpeg_server"/>
  <node name="prosilica_driver" pkg="prosilica_camera" type="prosilica_node" respawn="true" respawn_delay="5" output="screen"/>
  <node name="Attack_motion" pkg="motion" type="fira6"/>
  <include file="$(find strategy)/launch/passing_vision.launch" />
  <include file="$(find strategy)/launch/localization.launch" />
</launch>
