<?xml version="1.0" ?>
<launch>                                                                        
<group ns="$(env ROBOT_NS)">
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
  <node name="mjpeg_server" pkg="mjpeg_server" type="mjpeg_server"/>
  <node pkg="image_publisher" type="image_publisher" name="camera"
        args="$(find vision)/1.bmp" >
    <param name="flip_horizontal" value="false" />
    <param name="flip_vertical" value="false" />
    <param name="frame_id" value="my_camera" />
    <param name="publish_rate" value="30" />
    <param name="camera_info_url" value="file:///$(env HOME)/.ros/camera_info/camera.yaml" />   relative to ~/.ros/
  </node>
   <include file="$(find vision)/launch/vision.launch" />
</group>
</launch>