<?xml version="1.0" ?>
<launch>
  <!--for web ui controller-->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
  <node name="mjpeg_server" pkg="mjpeg_server" type="mjpeg_server"/>

  <!--image processing-->
  <rosparam command="load" file="$(find vision)/config/FIRA.yaml" ns="FIRA"/>
  <node name="interface" pkg="vision" type="interface" respawn="true" respawn_delay="5"/>
  <!--node name="black_item" pkg="vision" type="black_item" respawn="true" respawn_delay="5"/-->
  <node name="monitor" pkg="vision" type="monitor" respawn="true" respawn_delay="5" />
  <!--node name="obstacle" pkg="vision" type="obstacle" respawn="true" respawn_delay="5" /-->
</launch>
