body {
    margin: 0;
    padding: 0;
    background: #000;
    -moz-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    /*
    overflow-y: hidden;
    overflow-x: hidden;
    */
}


/*====================WIFI============================*/

#InterfaceSetting {
    position: absolute;
    left: 380px;
    top: 30px;
    bottom: 100%
}

#InterfaceWifi table {
    height: 100%;
    width: 100%;
}

#InterfaceWifi td {
    right: 5%;
    width: 50%;
}

#Setting_Wifi {
    position: relative;
    right: 5%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    bottom: 8px;
}

#light {
    height: 50px;
    width: 50px;
}

#wifilight {
    position: relative;
    left: 4px;
}

.Wifimodal_content {
    position: relative;
    background-color: #FFEE99;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.settingmodal_content {
    position: relative;
    height: 450px;
    width: 500px;
    background-color: #FFEE99;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

/*=======================================================*/

#background {
    width: 550px;
    height: 300px;
}

#court {
    position: absolute;
    width: 1000px;
    top: 15%;
    left: 15%;
}


#titleModalLabel {
    position: relative;
    font-size: 60px;
    left: 30%;
    top: -15%;
    font-family: 'Pacifico', cursive;
}

.modal-title {
    text-align: center;
}

.motherground {
    background-color: #FFEE99;
    height: 900px;
}
.button {
    position: relative;
    width: 80px;
    height: 30px;
    text-align: center;
    margin-left: 0px;
    color: blue;
    border-radius: 10px;
    background-color: #FFF
}

.region {
    position: relative;
    left: 80px;
    font-size: 18px;
}

.radio {
    position: relative;
    left: 50px;
}

.title {
    position: relative;
    width: 1000px;
    height: 100px;
}

/*==========================================================*/


/*JoyStick*/

#Joystick {
    position: relative;
    top: 50%;
    left: 60%;
    width: 210px;
    height: 210px;
    z-index: 1;
    border-radius: 210px;
    /*border-style: dashed;*/
    border-color: rgba(255, 255, 255, 0.5);
    background-color: #fff;
    cursor: crosshair;
}
#Joystick_Canvas {
    width: 100%;
    height: 100%;
}
#SpeedDiv {
    width: 185px;
    height: 60px;
    z-index: 1;
    position: absolute;
    top: 220px;
    left: 320px;
    font-size: 20px;
}

#SpeedDiv table {
    width: 100%;
    height: 100%;
    text-align: center;
}

#SpeedSlider {
    width: 185px;
    position: relative;
    top: 45%;
    left:10%;

}

#SpeedInput {
    width: 55px;
    height: 25px;
    position: relative;
    top: 48%;
    left: 10%;
}
#SpeedLabel{
    position: relative;
    left:10%;
}
/*==========================================================*/
#FunctionButttonDiv{
    width: 185px;
    height: 60px;
    z-index: 1;
    position: absolute;
    top: 100px;
    left: 350px;
    text-align: center;
}

/*==========================================================*/
#KeyboardControlButton {
    background-image: none;
    /*background-color: #99CCFF;*/
    font-size: 17px;
    color: #424242;
    background-color: #ededed;
    
}
#KeyboardControlButton.ui-state-hover {
    background-image: none;
    /*background-color: #99CCFF;*/
    font-size: 17px;
    background-color: #ffffff
}

#KeyboardControlButton.ui-state-active {
    background-color: #ffffdb;
    font-size: 17px;
    color: #424242;
}
/*==========================================================*/
#StandbyButton {
    background-image: none;
    /*background-color: #99CCFF;*/
    font-size: 17px;
    color: #424242;
    background-color: #ededed;
    
}

#StandbyButton.ui-state-hover {
    background-image: none;
    /*background-color: #99CCFF;*/
    font-size: 17px;
    background-color: #ffffff;
}

#StandbyButton.ui-state-active {
    background-color: #ffffdb;
    font-size: 17px;
    color: #424242;
}

/*===========================================*/
#info { 
    position: absolute;
    width: 300px; 
    height: 500px; 
    padding: 6px; 
    overflow-y: scroll; 
    word-break: break-all; 
    background: #e0e0e0; 
    position: absolute;
    top: 100px;
    left: 10px;
    font-size: 20px
} 
/*===========================================*/
#body_setting{
    background:  #f5f5f5; 
}
